<!DOCTYPE html>
<html lang="en">
   <head>
   {{GA}}
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>{{ configuration.title }}</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/{{subdirectory}}css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/{{subdirectory}}css/style.css?v=2">
      <!-- Responsive-->
      <link rel="stylesheet" href="/{{subdirectory}}css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/{{subdirectory}}images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/{{subdirectory}}css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>

   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="/{{subdirectory}}images/loading.gif" alt="" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-3 logo_section">
                  <div class="full">
                     <div class="center-desk">
                        <div class="logo"> <a href="/{{subdirectory}}index.html"><img src="/{{subdirectory}}images/logo.png" alt="#"></a> </div>
                     </div>
                  </div>
               </div>
               <div class="col-lg-9">
                  <div class="menu-area">
                     <div class="limit-box">
                        {{ navigation }}
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- end header inner -->
      </header>
      <!-- end header -->
     
      <!-- section --> 
<div class="About-bg">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="aboutheading">
              <h3>Archive</h3>


            </div>
         </div>
      </div>
   </div>
</div>



      <div class="section layout_padding">
         <div class="container">

		   <div class="row">
         <div class="col-md-8 offset-md-2">

           {% for blogByYear in blogsByYear %}
										<h1>{{ blogByYear.year }}</h1>
										<hr>
											{% for blog in blogByYear.items %}
											<div class="row margin_top_30">
											<div class="full">
													<a href="{{ blog.url }}">
														<h3>{{ blog.title }}</h3> 
													</a>
													<p>
														<em>Posted on {{ blog.created }}</em>
													</p>
													<p>
														{{ blog.short }}
													</p>

													 

												</div>
												
												<div class="button_section full margin_top_30">
					 	<a style="margin:0;" href="/{{blog.url}}">Read More</a>
						 </div>

						 
												</div>
											{% endfor %}
									{% endfor %}

</div>
</div>

         </div>
      </div>
      <!-- end section -->
     
      <!-- footer -->
      <footer>
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-6">
                  <a href="#"><img src="/{{subdirectory}}images/footer_logo.png" alt="#" /></a>
                  <ul class="contact_information">
                     {% if configuration.tel != nil %}
                     <li><span><img src="/{{subdirectory}}images/phone_icon.png" alt="#" /></span><span class="text_cont">{{ configuration.tel }}</span></li>
                     {% endif %}
                     {% if configuration.email != nil %}
                     <li><span><img src="/{{subdirectory}}images/mail_icon.png" alt="#" /></span><span class="text_cont">{{ configuration.email }}</span></li>
                     {% endif %}
                  </ul>
                  <ul class="social_icon">
                     {% if configuration.facebook != nil %}
                     <li><a href="{{ configuration.facebook }}"><i class="fa fa-facebook"></i></a></li>
                     {% endif %}
                      {% if configuration.twitter != nil %}
                     <li><a href="{{ configuration.twitter }}"><i class="fa fa-twitter"></i></a></li>
                     {% endif %}
                      {% if configuration.linkedin != nil %}
                     <li><a href="{{ configuration.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                     {% endif %}
                  </ul>
               </div>
               <div class="col-lg-2 col-md-6">
                  <div class="footer_links">
                     <h3>Quick link</h3>
                     {{ footernavigation }}
                  </div>
               </div>
              
            </div>
         </div>
      </footer>
      <div class="cpy">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <p>Copyright © {{ Year }} Design by <a href="https://html.design/">Free Html Templates</a></p>
               </div>
            </div>
         </div>
      </div>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="/{{subdirectory}}js/jquery.min.js"></script>
      <script src="/{{subdirectory}}js/popper.min.js"></script>
      <script src="/{{subdirectory}}js/bootstrap.bundle.min.js"></script>
      <script src="/{{subdirectory}}js/jquery-3.0.0.min.js"></script>
      <script src="/{{subdirectory}}js/plugin.js"></script>
      <!-- Scrollbar Js Files -->
      <script src="/{{subdirectory}}js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/{{subdirectory}}js/custom.js"></script>
   </body>
</html>